            <tr>
              <td id="plan-message-section" align="center" valign="top" style="padding-bottom: 40px;">
                <h1 id="plan-message-header">
                            Dear <%= @owner.name =%>
                </h1>
                <p id="plan-message" style="margin: 0px; font-size: 18px; margin-bottom: 10px;">
                We hope you've been enjoying your free trial with us! This is a friendly reminder that your free trial will end <%= @days %>, on <%= @due_date %>.

                </p>

                <p id="plan-message" style="margin: 0px; font-size: 18px; margin-bottom: 10px;">
                To ensure uninterrupted access to all the features you've enjoyed, your account will automatically transition to the <%= @plan %> plan, and the payment method you provided will be charged <%= @price %> on <%= @due_date %>.
                </p>

                <p id="plan-message" style="margin: 0px; font-size: 18px; margin-bottom: 10px;">
                If you'd like to make any changes to your plan or update your billing information, you can do so by visiting your account settings. If you have any questions or need assistance, feel free to reach out to us.
                </p>

                <p id="plan-message" style="margin: 0px; font-size: 18px; margin-bottom: 10px;">
                Thank you for choosing Travis CI! We're excited to continue supporting you.
                </p>
              </td>
            </tr>
