<!DOCTYPE html>
<html style="font-family:'Source Sans Pro', Arial, sans-serif;font-weight:200;" >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <style type="text/css">
      a img,hr{border:none}img,table.container table.row{display:block}#outlook a{padding:0}body{width:100%!important;min-width:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}.ExternalClass{width:100%}.ExternalClass,.ExternalClass div,.ExternalClass font,.ExternalClass p,.ExternalClass span,.ExternalClass td{line-height:100%}#backgroundTable{margin:0;padding:0;width:100%!important;line-height:100%!important}img.center,table.column,table.columns{margin:0 auto}img{outline:0;text-decoration:none;-ms-interpolation-mode:bicubic;width:auto;max-width:100%;float:left;clear:both}center{width:100%;min-width:580px}table{border-spacing:0;border-collapse:collapse}td{word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important}table,td,tr{padding:0;vertical-align:top;text-align:left}hr{color:#d9d9d9;background-color:#d9d9d9;height:1px}table.body{height:100%;width:100%}table.container{width:580px;margin:0 auto;text-align:inherit}h1.center,h2.center,h3.center,h4.center,h5.center,h6.center,span.center,table.center,td.center{text-align:center}table.row{padding:0;width:100%;position:relative}td.wrapper{padding:10px 20px 0 0;position:relative}table.column td,table.columns td{padding:0 0 10px}table.column td.sub-column,table.column td.sub-columns,table.columns td.sub-column,table.columns td.sub-columns{padding-right:10px}td.sub-column,td.sub-columns{min-width:0}table.container td.last,table.row td.last{padding-right:0}table.one{width:30px}table.two{width:80px}table.three{width:130px}table.four{width:180px}table.five{width:230px}table.six{width:280px}table.seven{width:330px}table.eight{width:380px}table.nine{width:430px}table.ten{width:480px}table.eleven{width:530px}table.twelve{width:580px}table.one center{min-width:30px}table.two center{min-width:80px}table.three center{min-width:130px}table.four center{min-width:180px}table.five center{min-width:230px}table.six center{min-width:280px}table.seven center{min-width:330px}table.eight center{min-width:380px}table.nine center{min-width:430px}table.ten center{min-width:480px}table.eleven center{min-width:530px}table.twelve center{min-width:580px}table.one .panel center{min-width:10px}table.two .panel center{min-width:60px}table.three .panel center{min-width:110px}table.four .panel center{min-width:160px}table.five .panel center{min-width:210px}table.six .panel center{min-width:260px}table.seven .panel center{min-width:310px}table.eight .panel center{min-width:360px}table.nine .panel center{min-width:410px}table.ten .panel center{min-width:460px}table.eleven .panel center{min-width:510px}table.twelve .panel center{min-width:560px}.body .column td.one,.body .columns td.one{width:8.333333%}.body .column td.two,.body .columns td.two{width:16.666666%}.body .column td.three,.body .columns td.three{width:25%}.body .column td.four,.body .columns td.four{width:33.333333%}.body .column td.five,.body .columns td.five{width:41.666666%}.body .column td.six,.body .columns td.six{width:50%}.body .column td.seven,.body .columns td.seven{width:58.333333%}.body .column td.eight,.body .columns td.eight{width:66.666666%}.body .column td.nine,.body .columns td.nine{width:75%}.body .column td.ten,.body .columns td.ten{width:83.333333%}.body .column td.eleven,.body .columns td.eleven{width:91.666666%}.body .column td.twelve,.body .columns td.twelve{width:100%}td.offset-by-one{padding-left:50px}td.offset-by-two{padding-left:100px}td.offset-by-three{padding-left:150px}td.offset-by-four{padding-left:200px}td.offset-by-five{padding-left:250px}td.offset-by-six{padding-left:300px}td.offset-by-seven{padding-left:350px}td.offset-by-eight{padding-left:400px}td.offset-by-nine{padding-left:450px}td.offset-by-ten{padding-left:500px}td.offset-by-eleven{padding-left:550px}td.expander{visibility:hidden;width:0;padding:0!important}table.column .text-pad,table.columns .text-pad{padding-left:10px;padding-right:10px}table.column .left-text-pad,table.column .text-pad-left,table.columns .left-text-pad,table.columns .text-pad-left{padding-left:10px}table.column .right-text-pad,table.column .text-pad-right,table.columns .right-text-pad,table.columns .text-pad-right{padding-right:10px}.block-grid{width:100%;max-width:580px}.block-grid td{display:inline-block;padding:10px}.two-up td{width:270px}.three-up td{width:173px}.four-up td{width:125px}.five-up td{width:96px}.six-up td{width:76px}.seven-up td{width:62px}.eight-up td{width:52px}span.center{display:block;width:100%}img.center{float:none}.hide-for-desktop,.show-for-small{display:none}body,h1,h2,h3,h4,h5,h6,p,table.body,td{color:#504E4E;font-weight:400;padding:0;margin:0;text-align:left;line-height:1.3}h1,h2,h3,h4,h5,h6{word-break:normal}h1{font-size:40px}h2{font-size:36px}h3{font-size:32px}h4{font-size:28px}h5{font-size:24px}h6{font-size:20px}body,p,table.body,td{font-size:12px;line-height:16px}p.lead,p.lede,p.leed{font-size:18px;line-height:21px}p{margin-bottom:10px}small{font-size:10px}.panel{background:#f2f2f2;border:1px solid #d9d9d9;padding:10px!important}.sub-grid table{width:100%}.sub-grid td.sub-columns{padding-bottom:0}table.button,table.large-button,table.medium-button,table.small-button,table.tiny-button{width:100%;overflow:hidden}table.button td,table.large-button td,table.medium-button td,table.small-button td,table.tiny-button td{display:block;width:auto!important;text-align:center;background:#2ba6cb;border:1px solid #2284a1;color:#fff;padding:8px 0}table.button:active td,table.button:hover td,table.button:visited td,table.large-button:hover td,table.medium-button:hover td,table.small-button:hover td,table.tiny-button:hover td{background:#2795b6!important}table.tiny-button td{padding:5px 0 4px}table.small-button td{padding:8px 0 7px}table.medium-button td{padding:12px 0 10px}table.large-button td{padding:21px 0 18px}table.button td a,table.large-button td a,table.medium-button td a,table.small-button td a,table.tiny-button td a{font-weight:700;text-decoration:none;color:#fff;font-size:16px}table.button td a:visited,table.button:active td a,table.button:hover td a,table.button:visited td a,table.large-button td a:visited,table.large-button:active td a,table.large-button:hover td a,table.medium-button td a:visited,table.medium-button:active td a,table.medium-button:hover td a,table.small-button td a:visited,table.small-button:active td a,table.small-button:hover td a,table.tiny-button td a:visited,table.tiny-button:active td a,table.tiny-button:hover td a{color:#fff!important}table.tiny-button td a{font-size:12px;font-weight:400}table.small-button td a{font-size:16px}table.medium-button td a{font-size:20px}table.large-button td a{font-size:24px}table.secondary td{background:#e9e9e9;border-color:#d0d0d0;color:#555}table.secondary td a{color:#555}table.secondary:hover td{background:#d0d0d0!important;color:#555}table.secondary td a:visited,table.secondary:active td a,table.secondary:hover td a{color:#555!important}table.success td{background:#5da423;border-color:#457a1a}table.success:hover td{background:#457a1a!important}table.alert td{background:#c60f13;border-color:#970b0e}table.alert:hover td{background:#970b0e!important}table.radius td{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}table.round td{-webkit-border-radius:500px;-moz-border-radius:500px;border-radius:500px}body.outlook p{display:inline!important}@media only screen and (max-width:600px){table[class=body] img{width:auto!important;height:auto!important}table[class=body] center{min-width:0!important}table[class=body] .container{width:95%!important}table[class=body] .row{width:100%!important;display:block!important}table[class=body] .wrapper{display:block!important;padding-right:0!important}table[class=body] .column,table[class=body] .columns{table-layout:fixed!important;float:none!important;width:100%!important;padding-right:0!important;padding-left:0!important;display:block!important}table[class=body] .wrapper.first .column,table[class=body] .wrapper.first .columns{display:table!important}table[class=body] table.column td,table[class=body] table.columns td{width:100%!important}table[class=body] .column td.one,table[class=body] .columns td.one{width:8.333333%!important}table[class=body] .column td.two,table[class=body] .columns td.two{width:16.666666%!important}table[class=body] .column td.three,table[class=body] .columns td.three{width:25%!important}table[class=body] .column td.four,table[class=body] .columns td.four{width:33.333333%!important}table[class=body] .column td.five,table[class=body] .columns td.five{width:41.666666%!important}table[class=body] .column td.six,table[class=body] .columns td.six{width:50%!important}table[class=body] .column td.seven,table[class=body] .columns td.seven{width:58.333333%!important}table[class=body] .column td.eight,table[class=body] .columns td.eight{width:66.666666%!important}table[class=body] .column td.nine,table[class=body] .columns td.nine{width:75%!important}table[class=body] .column td.ten,table[class=body] .columns td.ten{width:83.333333%!important}table[class=body] .column td.eleven,table[class=body] .columns td.eleven{width:91.666666%!important}table[class=body] .column td.twelve,table[class=body] .columns td.twelve{width:100%!important}table[class=body] td.offset-by-eight,table[class=body] td.offset-by-eleven,table[class=body] td.offset-by-five,table[class=body] td.offset-by-four,table[class=body] td.offset-by-nine,table[class=body] td.offset-by-one,table[class=body] td.offset-by-seven,table[class=body] td.offset-by-six,table[class=body] td.offset-by-ten,table[class=body] td.offset-by-three,table[class=body] td.offset-by-two{padding-left:0!important}table[class=body] table.columns td.expander{width:1px!important}table[class=body] .right-text-pad,table[class=body] .text-pad-right{padding-left:10px!important}table[class=body] .left-text-pad,table[class=body] .text-pad-left{padding-right:10px!important}table[class=body] .hide-for-small,table[class=body] .show-for-desktop{display:none!important}table[class=body] .hide-for-desktop,table[class=body] .show-for-small{display:inherit!important}}

    </style>
    <style type="text/css">

      html,
      body,
      table.body {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 200;
      }

      strong {
        font-weight: 600
      }
      a.link:hover {
        text-decoration: underline !important;
      }

      .two-thirds {
        width: 98%;
      }
      .two-thirds table {
        width: 100%;
      }
      .one-third {
        width: 100%;
      }
      .two-two-up td {
        width: 50%;
      }

      @media (min-width: 600px) {
        .two-thirds {
          width: 360px !important;
        }
        .two-thirds table {
          width: 100% !important;
        }
        .one-third {
          width: 180px !important;
        }
        .two-two-up td {
          width: 180px !important;
        }
        .invoice-number {
          padding-left: 10px;
        }
      }
      @media print {
        html,
        body,
        table.body {
          font-family: Helvetica, Arial, sans-serif;
          font-size: 12px;
        }
        .invoice-number {
          padding-left: 0 !important;
        }
      }


    </style>
    <!--[if mso]>
    <style type=”text/css”>
    .body {
    font-family: Helvetica, Arial, sans-serif !important;
    }
    </style>
    <![endif]-->
  </head>
  <body style="width:100%!important;min-width:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;color:#504E4E;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;font-family:Helvetica, Arial, sans-serif;font-weight:200;" >
    <table class="body" style="border-spacing:0;border-collapse:collapse;vertical-align:top;height:100%;width:100%;color:#504E4E;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;font-family:Helvetica, Arial, sans-serif;font-weight:200;" >
      <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
        <td class="center" align="center" valign="top" style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;font-size:14px;line-height:19px;text-align:center;" >
          <center style="width:100%;min-width:580px;" >


 <% unless Travis.env == "production" %>
  <p>Test Email! Not a valid invoice!</p>
<% end -%>
<table class="row" id="header" style="background-color:#39A669;border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;" >
  <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
    <td class="center" align="center" style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;font-size:14px;line-height:19px;text-align:center;" >
      <center style="width:100%;min-width:580px;" >
        <table class="container" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;width:580px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;text-align:inherit;" >
          <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
            <td style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;" >
              <table class="block-grid" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;width:100%;max-width:580px;" >
                <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                  <td style="width:60px;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
                    <img src="http<% if not @hide_pdf_notice -%>s<% end -%>://billing<% unless Travis.env == 'production' %>-staging<% end -%>.travis-ci.com/images/email/TravisCI-logo-green.png" alt="Travis CI mascot" width="54" height="54" style="display:block;outline-color:0;text-decoration:none;-ms-interpolation-mode:bicubic;width:auto;max-width:100%;float:left;clear:both;" />
                    </span>
                  </td><td style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
                    <h1 style="font-size:32px;font-weight:200;color:#ffffff;line-height:1.1;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;word-break:normal;" >Your Travis CI Invoice</h1>
                    <h2 style="font-size:18px;font-weight:200;color:#fff;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;line-height:1.3;word-break:normal;" >We
                    <img src="http<% if not @hide_pdf_notice -%>s<% end -%>://billing<% unless Travis.env == 'production' %>-staging<% end -%>.travis-ci.com/images/email/heart.png" alt="<3" width="12" height="10" style="float:none;display:inline;outline-color:0;text-decoration:none;-ms-interpolation-mode:bicubic;width:auto;max-width:100%;clear:both;" />
                      our customers!</h2>
                  </td>
                </tr>
              </table>

              <table class="block-grid three-up" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;width:100%;max-width:580px;" >
                <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                  <td style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:173px;" >
                    <p style="color:#AAD9BF;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;margin-bottom:10px;" >Billed To</p>
                    <p style="color:#504E4E;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;margin-bottom:10px;" >
                      <address style="color:#fff;font-style:normal;font-weight:200;line-height:1.7;" >
                        <% if @subscription[:company].present? %>
                          <em ><%= @subscription[:company] %></em><br>
                        <% end %>
                        <% if @subscription[:first_name].present? %>
                            <%= @subscription[:first_name] %>
                        <% end %>
                        <% if @subscription[:last_name].present? %>
                            <%= @subscription[:last_name] %><br>
                        <% end %>
                        <% if @subscription[:address].present? %>
                            <%= @subscription[:address] %><br>
                        <% end %>
                        <% if @subscription[:city].present? %>
                            <%= @subscription[:city] %>
                        <% end %>
                        <% if @subscription[:zip_code].present? %>
                            <%= @subscription[:zip_code] %><br>
                        <% end %>
                        <%# %w(state country vat_id).each do |attr| %>
                          <%# if @subscription.send(attr.to_sym).present? %>
                            <%# @subscription[attr.to_sym] %><br>
                          <%# end %>
                        <%# end %>
                      </address>
                    </p>
                  </td><td style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:173px;" ></td><td style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:173px;" >
                    <p style="color:#AAD9BF;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;margin-bottom:10px;" >Total (in USD)</p>
                    <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;background-color:#2B7D4F;color:#ffffff;font-size:24px;padding-top:0.5em;padding-bottom:0.5em;padding-right:0.5em;padding-left:0.5em;font-weight:200;border-radius:2px;line-height:39px;text-align:left;" >
                      <%# number_to_currency(@invoice.object["amount_due"] / 100.0) %></p>
                    <p style="color:#fff;font-weight:200;font-style:italic;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:10px;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;margin-bottom:10px;" >
                      <time datetime="sdjdj"><%# l @invoice[:created_at], format: :long %></time></p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table><!-- / header -->

<table class="row" style="background-color:white;border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;" >
  <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
    <td class="center" align="center" style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;font-size:14px;line-height:19px;text-align:center;" >
      <center style="width:100%;min-width:580px;" >
        <table class="container" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;width:580px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;text-align:inherit;" >
          <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
            <td style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;" >
              <table class="block-grid" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;width:100%;max-width:580px;" >
                <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                  <td class="two-thirds" style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;width:98%;display:inline-block;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
                    <table class="two-two-up" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;width:100%;" >
                      <tr style="border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:#F0EFEF;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                        <td style="padding-top:13px !important;padding-bottom:10px !important;padding-right:0 !important;padding-left:0 !important;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;" ><strong style="font-weight:600;" >Account Name</strong></td><td style="padding-top:13px !important;padding-bottom:10px !important;padding-right:0 !important;padding-left:0 !important;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;" >
                          <%# @subscription.owner.login %></td>
                      </tr>
                      <tr style="border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:#F0EFEF;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                        <td style="padding-top:13px !important;padding-bottom:10px !important;padding-right:0 !important;padding-left:0 !important;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;" ><strong style="font-weight:600;" >Subscription Period</strong></td><td style="padding-top:13px !important;padding-bottom:10px !important;padding-right:0 !important;padding-left:0 !important;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;" >
                          <%# l set_period(@invoice.object, "start", @subscription), format: :long -%>
                          to <%# l set_period(@invoice.object, "end", @subscription), format: :long -%></td>
                      </tr>
                      <tr style="border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:#F0EFEF;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                        <td style="padding-top:13px !important;padding-bottom:10px !important;padding-right:0 !important;padding-left:0 !important;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;" ><strong style="font-weight:600;" >Status</strong></td><td style="padding-top:13px !important;padding-bottom:10px !important;padding-right:0 !important;padding-left:0 !important;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;" >Paid with credit card ending in <%# @charge_cc_last_digits %></td>
                      </tr>

                      <%# unless is_proration?(@invoice.object) %>
                        <tr style="border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:#F0EFEF;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                          <td style="padding-top:13px !important;padding-bottom:10px !important;padding-right:0 !important;padding-left:0 !important;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;" ><strong style="font-weight:600;" >Plan</strong></td><td style="padding-top:13px !important;padding-bottom:10px !important;padding-right:0 !important;padding-left:0 !important;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;" >
                            <%# Travis::Billing.config.plans[parse_subscription(@invoice.object)["plan"]["id"].to_sym][:name] %></td>
                        </tr>
                      <%# end %>
                      <tr style="border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:#F0EFEF;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                        <td style="padding-top:13px !important;padding-bottom:10px !important;padding-right:0 !important;padding-left:0 !important;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;" ><strong style="font-weight:600;" >Price</strong></td><td style="padding-top:13px !important;padding-bottom:10px !important;padding-right:0 !important;padding-left:0 !important;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;" >
                          <%# number_to_currency(get_plan_amount(@invoice.object) / 100.0) %></td>
                      </tr>

                    <%# (invoice_items(@invoice.object) || []).each do |invoice_item| %>
                      <tr style="border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:#F0EFEF;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;">
                        <td style="padding-top:13px !important;padding-bottom:10px !important;padding-right:0 !important;padding-left:0 !important;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;" ><strong style="font-weight:600;" >
                          <%# invoice_item["description"] %></strong></td><td style="padding-top:13px !important;padding-bottom:10px !important;padding-right:0 !important;padding-left:0 !important;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;">
                          <%# number_to_currency(invoice_item["amount"] / 100.0) %></td>
                      </tr>
                    <%# end -%>

                    <%# if @invoice.object["discount"].present? %>
                      <tr style="border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:#F0EFEF;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                        <td style="padding-top:13px !important;padding-bottom:10px !important;padding-right:0 !important;padding-left:0 !important;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;" ><strong style="font-weight:600;" >Discount</strong></td><td style="padding-top:13px !important;padding-bottom:10px !important;padding-right:0 !important;padding-left:0 !important;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;" >
                        <%# if @invoice.object["discount"]["coupon"]["percent_off"] -%>
                          <%# @invoice.object["discount"]["coupon"]["percent_off"] %>%
                        <%# else -%>
                          <%# number_to_currency(@invoice.object["discount"]["coupon"]["amount_off"] / 100.0) %>
                        <%# end -%></td>
                      </tr>
                    <%# end -%>

                    <%# if (balance = @invoice.object["starting_balance"].to_i) != 0 -%>
                      <tr style="border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:#F0EFEF;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                        <td style="padding-top:13px !important;padding-bottom:10px !important;padding-right:0 !important;padding-left:0 !important;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;" ><strong style="font-weight:600;" >
                          <%# balance > 0 ? "Debit" : "Credit" %></strong></td><td style="padding-top:13px !important;padding-bottom:10px !important;padding-right:0 !important;padding-left:0 !important;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;">
                          <%# applied_balance(balance, @invoice.object["ending_balance"]) %></td>
                      </tr>
                    <%# end -%>
                      <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                        <td style="padding-top:13px;padding-bottom:10px;padding-right:0;padding-left:0;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;" ><strong style="font-weight:600;" >Total</strong></td><td style="padding-top:13px !important;padding-bottom:10px !important;padding-right:0 !important;padding-left:0 !important;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;" >
                          <%# number_to_currency(@invoice.object["amount_due"] / 100.0) %></td>
                      </tr>
                       <%# unless @subscription.vat_required? -%>
                         <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                           <td style="padding-top:13px;padding-bottom:10px;padding-right:0;padding-left:0;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;width:50%;" >(VAT due to the recipient)</td>
                         </tr>
                       <%# end -%>
                    </table>
                  </td><td class="one-third" style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;width:100%;display:inline-block;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
                    <table style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                      <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                        <td class="invoice-number" align="top" style="vertical-align:top;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;padding-top:10px;padding-bottom:10px;padding-right:10px;" >
                          <p style="padding-top:0;padding-bottom:10px;padding-right:0;padding-left:0;color:#6AACAC;font-weight:400;margin-top:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;margin-bottom:10px;" >
                            Invoice #<%# @invoice.invoice_id %></p>
                        <% if not @hide_pdf_notice -%>
                          <p style="color:#504E4E;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;margin-bottom:10px;" >
                            <a href="<%# invoice_url(Digest::SHA1.hexdigest(@invoice.stripe_id + @invoice.invoice_id), format: 'pdf', protocol: 'https') %>" class="link" style="display:inline-block;text-decoration:none;color:#737272;padding-top:5px;padding-bottom:5px;padding-right:0;padding-left:0;line-height:18px;" >
                              <img src="https://billing<% unless Travis.env == 'production' %>-staging<% end -%>.travis-ci.com/images/email/icon-pdf.png" alt="PDF icon" width="14" height="17" style="margin-right:8px;width:14px !important;display:block;outline-color:0;text-decoration:none;-ms-interpolation-mode:bicubic;max-width:100%;float:left;clear:both;border-style:none;" />
                              Download a PDF copy</a><br />
                            <!-- <a href="#" class="link" style="display:inline-block;text-decoration:none;color:#737272;padding-top:5px;padding-bottom:5px;padding-right:0;padding-left:0;line-height:18px;" >
                              <img src="https://billing<% unless Travis.env == 'production' %>-staging<% end -%>.travis-ci.com/images/email/icon-print.png" alt="Printer icon" width="16" height="16" style="margin-right:8px;width:16px !important;display:block;outline-color:0;text-decoration:none;-ms-interpolation-mode:bicubic;max-width:100%;float:left;clear:both;border-style:none;" />
                              Print a B&W copy</a> -->
                          </p>
                          <% end -%>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table><!-- / main -->

<% if not @hide_pdf_notice -%>
<table class="row" id="cc-section" style="background-color:white;border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;" >
  <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
    <td class="center" align="center" style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;font-size:14px;line-height:19px;text-align:center;" >
      <center style="width:100%;min-width:580px;" >
        <table class="container" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;width:580px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;text-align:inherit;" >
          <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
            <td style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;" >
              <table class="block-grid" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;width:100%;max-width:580px;" >
                <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                <td style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
                    <p style="line-height:1.3;color:#737272;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;margin-bottom:10px;" >
                      <img src="https://billing<% unless Travis.env == 'production' %>-staging<% end -%>.travis-ci.com/images/email/icon-annual-plan.png" alt="Anual plan icon" width="35" height="26" style="margin-right:8px;margin-top:5px;width:35px !important;display:block;outline-color:0;text-decoration:none;-ms-interpolation-mode:bicubic;max-width:100%;float:left;clear:both;" />
                      <span style="display:inline-block;" >
                        <strong style="color:#6AACAC;font-weight:600;" >Want Travis CI FREE for one month?</strong><br />
                        <a href="<%# edit_subscription_url(@subscription.owner.login, protocol: 'https') %>" style="color:#737272;">Simplify your accounting and switch to annual billing!</a>
                      </span>
                    </p>
                  </td></tr>
                  <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" ><td style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
                    <p style="line-height:1.3;color:#737272;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;margin-bottom:10px;" >
                    <img src="https://billing<% unless Travis.env == 'production' %>-staging<% end -%>.travis-ci.com/images/email/icon-credit-card.png" alt="Credit card icon" width="35" height="22" style="margin-right:12px;margin-top:-3px;width:35px !important;display:block;outline-color:0;text-decoration:none;-ms-interpolation-mode:bicubic;max-width:100%;float:left;clear:both;" />
                    Need to change your billing details? You can <a href="<%# edit_subscription_url(@subscription.owner.login, protocol: 'https') %>" style="color:#737272;" >update them anytime</a>.</p>

                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table> <!--
<% end -%>


            <table class="row" style="background-color:#F0EFEF;border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;position:relative;" >
              <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                <td class="center" align="center" style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;font-size:14px;line-height:19px;text-align:center;" >
                  <center style="width:100%;min-width:580px;" >
                    <table class="container" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;width:580px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;text-align:inherit;" >
                      <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
                        <td style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;" >
                          <table class="block-grid three-up" style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;width:100%;max-width:580px;" >
                            <tr style="vertical-align:top;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:left;" >
                              <td style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:173px;" >
                                <p style="color:#737272;line-height:1.7;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;margin-bottom:10px;" >
                                  <strong style="font-weight:600;" >Travis CI GmbH</strong><br />
                                  Rigaer Str. 8 <br />
                                  10247 Berlin, Germany
                                </p>
                                <p style="color:#737272;line-height:1.7;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;margin-bottom:10px;" >VAT ID: DE282002648</p>
                                <p style="color:#737272;line-height:1.7;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;margin-bottom:10px;" >
                                  Managing Director: <br />
                                  Randy Jacops <br />
                                  Register Berlin HRB 140133 B
                                </p>
                              </td><td style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:173px;" >
                                 <p style="color:#737272;line-height:1.7;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;margin-bottom:10px;" >
                                   <strong style="font-weight:600;" >Need Help?</strong><br />
                                   <a class="link"  href="https://travis-ci.com" style="color:#737272;text-decoration:none;" >travis-ci.com</a><br />
                                   <a class="link"  href="mailto:support@travis-ci.com" style="color:#737272;text-decoration:none;" >support@travis-ci.com</a><br />
                                   <a class="link"  href="https://twitter.com/travisci" style="color:#737272;text-decoration:none;" >@travisci</a>
                                 </p>
                               </td><td style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;vertical-align:top;color:#504E4E;font-weight:400;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;display:inline-block;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:173px;" >
                                 <p style="color:#737272;line-height:1.7;font-weight:400;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;margin-bottom:10px;" >
                                   We use <a href="#" class="link" style="color:#737272;text-decoration:none;" >Stripe Inc</a>. <br />
                                   3180 18th Street, Suite 100, <br />
                                   San Francisco, CA 94110, U.S.A., <br />
                                   as our payment partner.
                                 </p>
                               </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </center>
                </td>
              </tr>
            </table><!-- / footer -->

          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
